<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab02"
        tools:targetApi="31">

        <!-- Activity chính -->
        <activity
            android:name="com.example.lab_02.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Bài 1 -->
        <activity
            android:name=".menu.LinearMenuActivity"
            android:exported="false"
            android:label="Linear Layout Menu" />

        <activity
            android:name=".linear.LinearAVerticalActivity"
            android:exported="false"
            android:label="Linear A - Vertical" />

        <activity
            android:name=".linear.LinearBHorizontalActivity"
            android:exported="false"
            android:label="Linear B - Horizontal" />

        <!-- Bài 2: Layout nằm ngang -->
        <activity
            android:name=".menu.LandscapeMenuActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:label="Landscape Layout Menu" />

        <!-- Màn hình nhập thông tin cá nhân -->
        <activity
            android:name=".personal.PersonalInfoActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:label="Personal Info" />
    </application>

</manifest>
